.fa-user-circle {
    color: white !important;
    font-size: 1.5rem;    
}

.fa-bars {
    color: white !important;
    font-size: 1.5rem;
}

.fa-power-off {
    color: white !important;
    font-size: 1.5rem;
}


#plas-icon{
    display: flex;
    justify-content: center;
    margin-top: 2em;
    
    
}

.fa-plus{
    color: rgba(0, 0, 0, 0.1);
    font-size: 8rem;   
}